// Colors

$white: #ffffff !default;
$black: #000000 !default;
$dark: #212121 !default;

$DarkPrimary: #E64A19 !default;
$LightPrimary: #FFCCBC !default;
$Primary: #FF5722 !default;
$Accent: #7C4DFF !default;
$SecondaryText: #757575 !default;
$Divider: #BDBDBD !default;

// FONTS
$font-base: 'Montserrat', system-ui, --apple-system, sans-serif !default;
$font-header: 'Raleway', sans-serif !default;
$font-mono: 'DM Mono', Consolas, monospace !default;
$size-font: 16px !default;
$font-size-base: 1rem !default;
$font-weight: 400 !default;
$line-height: 1.6 !default;